@font-face {
	font-family: 'LoveMe-Regular';
	src: url('fonts/LoveMe-Regular.eot');
	src: local('☺'), url('fonts/LoveMe-Regular.woff') format('woff'), url('fonts/LoveMe-Regular.ttf') format('truetype'), url('fonts/LoveMe-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.loveme {
	font-family: 'LoveMe-Regular';
}